body{width:960px; margin:0 auto; background-color:#D0EDC2}
h1{text-align:center}
form{ width:300px; text-align:left; border:1px solid #999; 
float:left; padding:5px; margin-left:5px;background-color:#EBEBEB}
input{border:1px solid green; margin-top:10px}
