
img{
    display: block;
    height: 480px;

    
}
.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}
  